.venv
exercises/ex4/results1
exercises/ex4/results2
exercises/ex4/results3
exercises/ex4/results4


x_test.txt
x_test.txtrc0iafr1.part
x_train.txt
y_test.txt
y_train.txt
ex1_nn_testytest.ipynb
train_df.csv